body {
    background-color: lightcoral;
    font-family: sans-serif;
}

#main-container {
    width: 300px;
    background-color: blue;
    margin: auto;
    padding: 15px;
}

h1{
    text-align: center;
    nav-down: auto;
}